html, body{
	margin: 0;
	padding: 0;
}

#wrap{
	width: 1000px;
	margin: 0 auto;
}

/*comment the following out later*/
header, nav, section, footer{
	background-color: #ddd;
	/*height: 400px;*/
	margin: 20px 0px;
	/*overflow:auto;*/
}
header {
	position: relative;
}

nav {
	position: relative;
	padding: 40px;
}

section{
	background-color:green;
	overflow:auto;
}

.redBox{
	width: 200px;
	height: 200px;
	background-color: red;
	/*display properties block, inline, inline-block, none*/
	/*visibility: hidden; /*properties ht and width are still there, just can't see it
	display: none; removes the element as if it never existed*/
	/*float: right;*/
	position: absolute;
	top:20px;
	left:20px;
	
}

.blueBox{
	width: 200px;
	height: 200px;
	background-color: blue;
	/*display properties block, inline, inline-block, none*/
	/*visibility: hidden; /*properties ht and width are still there, just can't see it
	display: none; removes the element as if it never existed*/
	/*float: right;*/
	/*position: relative;*/
	top:200px0;
	left:0;
	/*z-index:-999;*/
}



.move{
	position: relative;
	top:10px;
	right:10px;
}

.left{
	background-color:pink;
	width: 178px;
	float: left;
	padding: 10px 10px 10px 10px;
	border:1px solid red;

}
.right{
	background-color:green;
	width:780px;
	float: right;
	padding: 10px 10px 10px 10px;
}