html, body{
	margin: 0;
	padding: 0;
}

body.spring{
	background-image: url("springBkGrnd.jpg");
	position: relative;
    background-repeat:no-repeat;
    background-size:cover;
	background-position: center;
}
body.summer{
	background: url("summerBkGrnd.jpg");
	position: relative;
    background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}
body.fall{
	background-image: url("fallBkGrnd.jpg");
	position: relative;
    background-repeat:no-repeat;
    background-size:cover;
	background-position: center;
}
body.winter{
	background-image: url("winterBkGrnd.jpg");
	position: relative;
    background-repeat:no-repeat;
    background-size:cover;
	background-position: center;
}

#wrap{
	width: 70%;
	margin: 0 auto;
}

/*comment the following out later*/
header, section, footer{
	background-color: #ddd;
	height: auto;
	margin: 20px;
	overflow: auto;
	text-align: center;
}

.springColor{
	background-color: rgba(251, 173, 213, 0.8);
}


section.springColor figure img{
	width:45%;
	padding-right:10px;
	float: left;
	
}

.winterColor{
	background-color: rgba(106, 158, 187, .8);
}

section.winterColor figure img{
	width:50%;
	padding-right:10px;
	float: left;
	
}

.summerColor{
	background-color: rgba(151, 142, 77, .8);
}

section.summerColor figure img{
	width:50%;
	padding-right:10px;
	float: left;
	
}

.fallColor{
	background-color: rgba(200, 142, 77, .8);
}

section.fallColor figure img{
	width:50%;
	padding-right:10px;
	float: left;
	
}

section{
	padding: 5%;
}

header h1, h2{
	text-align:center
}

nav{
	font-family: 'Lalezar', cursive;
	margin: auto;
    width: 96%;
    background-color: #ddd;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;

}

nav li{
	display: inline;
	padding: 20px;

}

nav ul{
	margin:0;
	padding:0;
}

nav ul li a{
	color: DarkSlateGrey;
	text-decoration: none;
}
nav ul li a:hover{
	color: blue;
	text-decoration: none;
}

article{
	width: 100%;
	margin: auto;
	margin-left:0;
	margin-right:0;
	overflow:auto;
}

figure.home{
	/*background-color: black;*/
	text-align: center;
	width: 24%;
	display: inline-block;
	/*padding: 10px 10px 5px 10px;
	border: 1px solid white;*/
	float: center;
	margin: 0 auto
}

figure.home img{
	width: 100%;
}

a.home{
	/*background-color: blue;*/
}



/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:50%; /*reduces size of the slider*/
	height:auto;
	overflow: hidden;
	margin: 0 auto;  /*centers the slider from left to right*/
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


@media screen and (min-width:700px) and (max-width:1100px){
	
	#wrap{
		width:90%;
	}
	nav li{
	padding-left: 2%;
	padding-right: 2%;
}
}

@media screen and (min-width:490px) and (max-width: 763px){
	
	#wrap{
		width:90%;
	}
	nav li{
		display:block;
	}
	.fbvid {
        width: 90%;
        /*height: 270px; /* 320px */
    }
}


@media screen and (min-width:300px) and (max-width: 490px){
	
	#wrap{
		width:90%;
	}
	nav li{
		display:block;
	}
	.fbvid {
        width: 90%;
        /*height: 169px; /* 320px */
    }
}
