html, body{
	margin: 0;
	padding: 0;
}

#wrap{
	width: 70%;
	margin: 0 auto;
}

/*comment the following out later*/
header, article{
	background-color: #eee;
	/*height: 100px;
	margin: 20px;*/
}

header h1, h2, article{
	text-align:center
}

a{
	color: red; 
}
a:hover{
	color: orange;
}
