html, body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	background:#CCC;
}

#wrap{
	width: 70%;
	margin: 0 auto;
}

/*comment the following out later*/
nav, footer{
	background-color: rgb(14, 200, 199);
	height: 100%;
}

header img{
	width:100%;
}

nav{
	padding: 5px 0;
    text-align: center;
}

nav li{
	display: inline;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
}

nav li a{
	color: white;
	text-decoration: none;
}

img#buy{
	width:40%;
	float: right;
	margin: 15px;
}

#main{
	overflow: auto;
	background: #ec3632;
}

aside#sidebar{
	width: 25%;
	height: 100%;
	margin: 10px, 0px;
	float: left;
	background: #ec3632;
	
}
aside#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
aside#sidebar li{
	margin: 20px 0 10px 10px;
	text-align: left;
	color: white;
}
aside#sidebar li a{
	color: white;
	text-decoration: none;
}

#content{
	width: 75%;
	height: 100%;
	margin: 10px, 0px;
	float: right;
	background: white;
}

footer{
	text-align: center;
	clear: both;
	color: black;
	font-size: 11px;
	/*margin-top: -10px;*/
	padding: 20px;
}

footer p{
	margin-bottom: 0;
}

footer ul{
	margin: 0;
	/*padding: 25px;*/
	list-style-type: none;
	color: black;
}

footer li{
	display: inline;
}

footer li a{
	text-decoration: none;
	color: DarkBlue;
}

footer li a.terms{
	color: Blue;
}

footer li a::before{
	content:"|";
	margin: 0px 10px;
	text-decoration: none;
}

footer li a.remove::before{
	content:"";
}

@media screen and (min-width:700px) and (max-width:1100px){
	
	#wrap{
		width:90%;
	}
	nav li{
	padding-left: 2%;
	padding-right: 2%;
}
}



@media screen and (max-width: 699px){
	img#buy{
		width:90%;
		float:none;
	}
	#wrap{
		width:90%;
	}
	nav li{
		display:block;
	}



#content,aside#sidebar{
	width: 100%;
	float: none;
}
}

